<section id="section2">

<div class="panel panel-default" style="margin-top:150px">

    <div class="panel-body">
        <div class="panel-body text-center" style="margin-top=0px">
            <h4>
                Contact Us for Inquiry</h4>


            <div>
                                 <span
                                         class="glyphicon glyphicon-envelope"></span> <a
                    href="mailto:info@spikeguide.com">info@spikeguide.com<a/><br/><br/>
            </div>


            </br>

            <!--           <h4>Follow Us</h4>-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="col-sm-2 col-sm-offset-2">
                    <div class="box-part text-center">

                        <a href="https://www.linkedin.com/company/spikeguide/" target="_blank"> <i class="fa fa-linkedin fa-2x"
                                                                          aria-hidden="true"></i></a>
                        <div class="title">
                            <h4>Linkedin</h4>
                        </div>


                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box-part text-center">

                        <a href="https://www.facebook.com/spikeguide/" target="_blank"> <i class="fa fa-facebook fa-2x"
                                                                           aria-hidden="true"></i></a>
                        <div class="title">
                            <h4>Facebook</h4>
                        </div>


                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box-part text-center">

                        <a href="https://twitter.com/spikeguide" target="_blank"> <i class="fa fa-twitter fa-2x"
                                                                           aria-hidden="true"></i></a>
                        <div class="title">
                            <h4>Twitter</h4>
                        </div>


                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box-part text-center">

                        <a href="https://www.instagram.com/spikeguideofficial" target="_blank" > <i class="fa fa-instagram fa-2x"
                                                                           aria-hidden="true"></i></a>
                        <div class="title">
                            <h4>Instagram</h4>
                        </div>


                    </div>
                </div>
            </div>


            <h4 style="margin-top:100px">Address</h4>
            <div>
                Lõõtsa
                11415, Ülemiste City, Tallinn, ESTONIA
                <br/>
            </div>

        </div>
        <!--Google map-->
        <div id="map-container-google-2" class="z-depth-1-half map-container" style="height: 500px;margin-top:25px"
        ">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2029.6758844044512!2d24.797930116335014!3d59.42180138169128!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4692eb55d55f3afb%3A0x102b6ddb991c33d6!2s%C3%9Clemiste%20City!5e0!3m2!1sen!2see!4v1601041527168!5m2!1sen!2see"
                width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe>
    </div>
</div>
</div>
</section>


