<head>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<script>

    $('#product0').text(language.product0);
    $('#product1').text(language.product1);

    $('#product11').text(language.product11);
    $('#product12').text(language.product12);
    $('#product13').text(language.product13);
    $('#product14').text(language.product14);
    $('#product15').text(language.product15);
    $('#product16').text(language.product16);
    $('#product17').text(language.product17);

    $('#product1P').text(language.product1P);
    $('#contactInquiry').text(language.contactInquiry);

</script>


<div class="panel-body" style="margin-top:75px;margin-bottom:20px">
    <div class="row">

        <div class="col-sm-12 col-md-12 center-block">

            <div class="row col-md-12">

                <h1 class="text-center" style=" color: #666;">DevOps 101</h1>
                <p class="text-center" style="font-size:17px;font-family:Arial">
                        <span id="product02">
The DevOps Fundamentals qualification is designed to
provide the core education necessary to build your DevOps
vocabulary and to understand its principles and practices.
                            </span></br>
                </p>


                <div class="col-sm-3 col-sm-offset-5 col-xs-10 col-xs-offset-2">
                    <p class="text-left" style="font-size:17px;font-family:Arial">
                        <span class="glyphicon glyphicon-ok"/><span
                            id="product31"> Automatically extracts IOCs.</span> </br>
                        <span class="glyphicon glyphicon-ok"/><span id="product32"> Automatically enriches the extracted IOCs.</span>  </br>
                        <span class="glyphicon glyphicon-ok"/><span
                            id="product33"> Multiple phishing reporting channel</span> </br>

                </div>


            </div>
            <div class="row col-md-12">

                <h1 class="text-center" style=" color: #666;">Target Audience</h1>
                <p class="text-center" style="font-size:17px;font-family:Arial">
                        <span id="product02">
                        Phishaa is an Incident Response tool designed for easier and quicker acquisition, triaging of
                        phishing reports.
                            </span></br>
                </p>

                <div class="col-sm-3 col-sm-offset-5 col-xs-10 col-xs-offset-2">
                    <p class="text-left" style="font-size:17px;font-family:Arial">
                        <span class="glyphicon glyphicon-ok"/><span id="product31"> Automatically extracts IOCs.</span> </br>
                        <span class="glyphicon glyphicon-ok"/><span id="product32"> Automatically enriches the extracted IOCs.</span>  </br>
                        <span class="glyphicon glyphicon-ok"/><span id="product33"> Multiple phishing reporting channel</span> </br>

                </div>


            </div>
            <div class="row col-md-12">

                <h1 class="text-center" style=" color: #666;">Syllabus</h1>
                <p class="text-center" style="font-size:17px;font-family:Arial">
                        <span id="product02">
                        Phishaa is an Incident Response tool designed for easier and quicker acquisition, triaging of
                        phishing reports.
                            </span></br>
                </p>


            </div>


        </div>

    </div>


    <!--            <div class="col-sm-12 col-md-5 col-md-offset-2">-->
    <!--                <div class="col-lg-12">-->
    <!--                    <img class="img-rectangular center-block" src="images/web3.jpeg"-->
    <!--                         alt="Generic placeholder image"-->
    <!--                         style="max-width: 100%;height: 600px">-->
    <!--                </div>&lt;!&ndash; /.col-lg-4 &ndash;&gt;-->
    <!--            </div>-->

    <!--            <div class="col-sm-12 col-md-5">-->

    <!--                <div class="row">-->
    <!--                    <div class="col-lg-12">-->
    <!--                        <h3 class="text-center">CorpSeed</h3>-->

    <!--                        <h4 class="text-center-left">-->
    <!--                            &lt;!&ndash;        <span class="glyphicon glyphicon-ok"></span>&ndash;&gt;-->
    <!--                            <span class="glyphicon glyphicon-ok"/> Save money & time </br>-->
    <!--                            <span class="glyphicon glyphicon-ok"/> Get a custom tailed trainings & solutions </br>-->
    <!--                            &lt;!&ndash;                <span class="glyphicon glyphicon-ok"/> Have future proof solutions </br>&ndash;&gt;-->
    <!--                            <span class="glyphicon glyphicon-ok"/> Secure & run your business without headacke </br>-->
    <!--                            &lt;!&ndash;                <span class="glyphicon glyphicon-ok"/> Better focus on your ideas </br>&ndash;&gt;-->
    <!--                            &lt;!&ndash;                <span class="glyphicon glyphicon-ok"/> Focus & run your business without headacke </br>&ndash;&gt;-->
    <!--                        </h4>-->

    <!--                    </div>-->


    <!--                </div>-->
    <!--            </div>-->
</div>


<div ng-include src="'views/contact.html'"></div>
